In [44]:
import pandas as pd
import os

In [45]:
data=pd.read_csv('CLHLS_14_withBiomarkers.csv', encoding='latin1')
filtered=pd.read_excel('refined.xlsx')

C:\Users\17544\AppData\Local\Temp\ipykernel_28564\205772043.py:1: DtypeWarning: Columns (115,164,167,358,390,441,452,505,508,902,908,922,927,931,936,940,945,949,954,956,958,963,967,972,976,981,990,999,1012,1014,1040,1058,1061,1073,1098,1131,1132,1133,1134,1135,1136,1137,1138,1139,1140,1141,1142,1143,1144,1145,1146,1147,1148,1149,1150,1151,1152,1153,1154,1155,1156,1157,1158,1159,1160) have mixed types. Specify dtype option on import or set low_memory=False.
  data=pd.read_csv('CLHLS_14_withBiomarkers.csv', encoding='latin1')

In [46]:
# 获取filtered中的Variable列
variables_to_keep = filtered['Variable'].tolist()

# 只保留data中出现在filtered的Variable这一列中的那些列
data = data[variables_to_keep]

data

,ID,G15A1,G15B1,G15C1,G15D1,G15E1,G15F1,G15G1,G15H1,G15I1,...,MCV,MCH,MCHC,PLT,MPV,PDW,PCT,TRUEAGE,A1,A2
0,11000308,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,95,2,1.0
1,11001208,1.0,2.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,2,1.0
2,11002308,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91,2,1.0
3,11002508,2.0,2.0,1.0,2.0,2.0,2.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,2,1.0
4,11002908,2.0,2.0,2.0,1.0,2.0,2.0,1.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7187,61163005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,2,1.0
7188,61163405,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,2,1.0
7189,61163505,2.0,1.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,76,1,1.0
7190,61163805,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,74,2,1.0
7191,61164005,2.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75,1,1.0

In [47]:

# 定义需要检查缺失值的列
columns_to_check = ['ALB', 'GLU', 'BUN', 'CREA', 'CHO', 'TG', 'GSP', 'CRPHS', 'UA', 'HDLC', 'SOD', 'MDA', 'VD3', 'VITB12', 'UALB', 'UCR', 'UALBBYUCR', 'WBC', 'LYMPH', 'LYMPH_A', 'RBC', 'HGB', 'HCT', 'MCV', 'MCH', 'MCHC', 'PLT', 'MPV', 'PDW', 'PCT']

# 删除在指定列中有缺失值的行
# data[columns_to_check] = pd.to_numeric(data[columns_to_check], errors='coerce')
data = data.dropna(subset=columns_to_check)

# 显示处理后的数据
for i in columns_to_check:
    data[i] = pd.to_numeric(data[i], errors='coerce')
    data[i].fillna(data[i].mean(), inplace=True)
    
data

C:\Users\17544\AppData\Local\Temp\ipykernel_28564\3948870924.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i] = pd.to_numeric(data[i], errors='coerce')
C:\Users\17544\AppData\Local\Temp\ipykernel_28564\3948870924.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data[i].fillna(data[i].mean(), inplace=True)
C:\Users\17544\AppData\Local\Temp\ipykernel_28564\3948870924.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[i].fillna(data[i].mean(), inplace=True)

,ID,G15A1,G15B1,G15C1,G15D1,G15E1,G15F1,G15G1,G15H1,G15I1,...,MCV,MCH,MCHC,PLT,MPV,PDW,PCT,TRUEAGE,A1,A2
735,32160008,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,82.699997,29.500000,357.0,394.0,8.6,14.300000,0.330000,95,2,1.0
742,32161008,1.0,2.0,1.0,2.0,2.0,2.0,2.0,2.0,2.0,...,88.900002,31.100000,350.0,149.0,9.1,15.000000,0.130000,95,2,1.0
747,32162608,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,87.599998,31.299999,357.0,201.0,8.3,12.000000,0.160000,87,2,1.0
749,32163008,1.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,89.699997,31.100000,346.0,150.0,9.9,16.799999,0.140000,90,2,2.0
754,32164908,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,88.500000,31.600000,358.0,163.0,9.7,17.799999,0.150000,94,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6472,46111914,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,95.599998,28.900000,303.0,215.0,10.0,14.700000,0.244237,93,1,1.0
6473,46112014,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,94.199997,28.700001,305.0,333.0,8.4,14.200000,0.244237,90,2,1.0
6474,46112114,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,64.500000,18.799999,292.0,134.0,8.9,13.700000,0.244237,91,1,1.0
6475,46112214,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,90.500000,27.500000,303.0,191.0,8.0,14.300000,0.244237,94,2,1.0
6476,46112314,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,2.0,...,94.500000,28.000000,296.0,316.0,9.3,14.600000,0.244237,92,2,NaN

In [48]:
# 将缺失值都填写上2
data = data.fillna(2)
# 将G15开头的列中的所有非2数值都改为-1
g15_columns = [col for col in data.columns if col.startswith('G15')]
for col in g15_columns:
    data[col] = data[col].apply(lambda x: -1 if x != 2 else x)
for col in g15_columns:
    data[col] = data[col].apply(lambda x: 1 if x != -1  else x)

In [49]:
# 将ID修改为从1开始计数
data['ID'] = range(0, len(data))
data

,ID,G15A1,G15B1,G15C1,G15D1,G15E1,G15F1,G15G1,G15H1,G15I1,...,MCV,MCH,MCHC,PLT,MPV,PDW,PCT,TRUEAGE,A1,A2
735,0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,82.699997,29.500000,357.0,394.0,8.6,14.300000,0.330000,95,2,1.0
742,1,-1.0,1.0,-1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,88.900002,31.100000,350.0,149.0,9.1,15.000000,0.130000,95,2,1.0
747,2,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,87.599998,31.299999,357.0,201.0,8.3,12.000000,0.160000,87,2,1.0
749,3,-1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,89.699997,31.100000,346.0,150.0,9.9,16.799999,0.140000,90,2,2.0
754,4,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,88.500000,31.600000,358.0,163.0,9.7,17.799999,0.150000,94,2,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6472,2541,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,95.599998,28.900000,303.0,215.0,10.0,14.700000,0.244237,93,1,1.0
6473,2542,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,94.199997,28.700001,305.0,333.0,8.4,14.200000,0.244237,90,2,1.0
6474,2543,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,64.500000,18.799999,292.0,134.0,8.9,13.700000,0.244237,91,1,1.0
6475,2544,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,90.500000,27.500000,303.0,191.0,8.0,14.300000,0.244237,94,2,1.0
6476,2545,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,94.500000,28.000000,296.0,316.0,9.3,14.600000,0.244237,92,2,2.0

In [50]:
data.to_csv('slimed_data.csv',index=False)